// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #282828,#d8d8d8);
$fg_color: if($variant == "dark",#d8d8d8,#282828);
$base_color: if($variant == "dark",#171717,#f1f1f1);
$text_color: if($variant == "dark",#e7e7e7,#171717);
$selected_bg_color: #4169e1;
$selected_fg_color: #ffffff;
$tooltip_bg_color: if($variant == "dark",#4a4a4a,#e7e7e7);
$tooltip_fg_color: if($variant == "dark",#e7e7e7,#282828);

// dark colors
$dark_bg_color: #282828;
$dark_fg_color: #d8d8d8;

// shadows
$dark_shadow: #171717;
$light_shadow: #e7e7e7;

// white and black
$black: #000;
$white: #fff;

// misc colors used by gtk+
$info_fg_color: if($variant == "dark",#2aa6ff,#4169e1);
$info_bg_color: if($variant == "dark",#393939,#e7e7e7);
$warning_fg_color: #000000;
$warning_bg_color:if($variant == "dark",#ffcf48,#BF9000);
$question_fg_color:if($variant == "light",#ffffff,#000000);
$question_bg_color: if($variant == "light",#721da8,#c25dff); 
$error_fg_color: if($variant == "dark",#f90e0e,#c61c09);
$error_bg_color: #ffffff;
$link_color: if($variant == "dark",#2aa6ff,#4169e1);
$success_color: if($variant == "dark",#00f37f,#007500);
$warning_color: if($variant == "dark",#f08503,#c05533);
$error_color: if($variant == "dark",#f90e0e,#c61c09);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
